/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* Utility Classes */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.h-2 {
  height: 0.5rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-10 {
  height: 2.5rem;
}

.h-16 {
  height: 4rem;
}

.h-48 {
  height: 12rem;
}

.h-80 {
  height: 20rem;
}

.h-\[90\%\] {
  height: 90%;
}

.h-full {
  height: 100%;
}

.h-svh {
  height: 100svh;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-3\/4 {
  width: 75%;
}

.w-20 {
  width: 5rem;
}

.w-32 {
  width: 8rem;
}

.w-48 {
  width: 12rem;
}

.w-72 {
  width: 18rem;
}

.w-80 {
  width: 20rem;
}

.w-full {
  width: 100%;
}

.size-8 {
  width: 2rem;
  height: 2rem;
}

.shrink-0 {
  flex-shrink: 0;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.rounded-sm {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-full {
  border-radius: 9999px;
}

.border-r {
  border-right: 1px solid;
}

.border-b {
  border-bottom: 1px solid;
}

.border-neutral-200 {
  border-color: #e5e5e5;
}

.bg-neutral-100 {
  background-color: #f5f5f5;
}

.bg-neutral-200 {
  background-color: #e5e5e5;
}

.bg-neutral-300 {
  background-color: #d4d4d4;
}

.bg-neutral-900 {
  background-color: #171717;
}