/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Utility Classes */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-4 {
  top: 1rem;
}

.top-8 {
  top: 2rem;
}

.top-24 {
  top: 6rem;
}

.right-1 {
  right: 0.25rem;
}

.left-1 {
  left: 0.25rem;
}

.isolate {
  isolation: isolate;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

.h-3 {
  height: 0.75rem;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 4rem;
}

.h-20 {
  height: 5rem;
}

.h-full {
  height: 100%;
}

.h-px {
  height: 1px;
}

.h-svh {
  height: 100svh;
}

.w-3 {
  width: 0.75rem;
}

.w-16 {
  width: 4rem;
}

.w-20 {
  width: 5rem;
}

.w-28 {
  width: 7rem;
}

.w-32 {
  width: 8rem;
}

.w-64 {
  width: 16rem;
}

.w-full {
  width: 100%;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.size-8 {
  width: 2rem;
  height: 2rem;
}

.min-w-25 {
  min-width: 6.25rem;
}

.shrink-0 {
  flex-shrink: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-4 {
  padding: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-sm {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.border-r {
  border-right: 1px solid;
}

.border-b {
  border-bottom: 1px solid;
}

.border-neutral-100 {
  border-color: #f5f5f5;
}

.border-neutral-200 {
  border-color: #e5e5e5;
}

.bg-neutral-100 {
  background-color: #f5f5f5;
}

.bg-neutral-200 {
  background-color: #e5e5e5;
}

.bg-neutral-300 {
  background-color: #d4d4d4;
}

.bg-neutral-400 {
  background-color: #a3a3a3;
}

.bg-neutral-800 {
  background-color: #262626;
}

.bg-neutral-900 {
  background-color: #171717;
}

.bg-white {
  background-color: #ffffff;
}

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-neutral-400 {
  color: #a3a3a3;
}

.text-neutral-500 {
  color: #737373;
}

.text-white {
  color: #ffffff;
}

.uppercase {
  text-transform: uppercase;
}