/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Utility Classes */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.h-3 {
  height: 0.75rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-8 {
  height: 2rem;
}

.h-12 {
  height: 3rem;
}

.h-svh {
  height: 100svh;
}

.w-3\/4 {
  width: 75%;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-14 {
  width: 3.5rem;
}

.w-16 {
  width: 4rem;
}

.w-24 {
  width: 6rem;
}

.w-48 {
  width: 12rem;
}

.w-64 {
  width: 16rem;
}

.w-96 {
  width: 24rem;
}

.w-full {
  width: 100%;
}

.size-8 {
  width: 2rem;
  height: 2rem;
}

.max-w-2xl {
  max-width: 42rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-32 {
  margin-left: 8rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-sm {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.border-1 {
  border: 1px solid;
}

.border-b {
  border-bottom: 1px solid;
}

.border-neutral-200 {
  border-color: #e5e5e5;
}

.border-neutral-300 {
  border-color: #d4d4d4;
}

.bg-neutral-100 {
  background-color: #f5f5f5;
}

.bg-neutral-200 {
  background-color: #e5e5e5;
}

.bg-neutral-300 {
  background-color: #d4d4d4;
}

.bg-neutral-900 {
  background-color: #171717;
}