/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Utility Classes */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.h-3 {
  height: 0.75rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-32 {
  height: 8rem;
}

.h-full {
  height: 100%;
}

.h-svh {
  height: 100svh;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-3\/4 {
  width: 75%;
}

.w-8 {
  width: 2rem;
}

.w-12 {
  width: 3rem;
}

.w-20 {
  width: 5rem;
}

.w-24 {
  width: 6rem;
}

.w-28 {
  width: 7rem;
}

.w-32 {
  width: 8rem;
}

.w-48 {
  width: 12rem;
}

.w-64 {
  width: 16rem;
}

.w-72 {
  width: 18rem;
}

.w-full {
  width: 100%;
}

.size-8 {
  width: 2rem;
  height: 2rem;
}

.size-24 {
  width: 6rem;
  height: 6rem;
}

.max-w-4xl {
  max-width: 56rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.-mt-14 {
  margin-top: -3.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-28 {
  margin-left: 7rem;
}

.p-4 {
  padding: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-sm {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-full {
  border-radius: 9999px;
}

.border {
  border: 1px solid;
}

.border-4 {
  border: 4px solid;
}

.border-b {
  border-bottom: 1px solid;
}

.border-neutral-200 {
  border-color: #e5e5e5;
}

.border-neutral-300 {
  border-color: #d4d4d4;
}

.border-white {
  border-color: #ffffff;
}

.bg-neutral-100 {
  background-color: #f5f5f5;
}

.bg-neutral-200 {
  background-color: #e5e5e5;
}

.bg-neutral-300 {
  background-color: #d4d4d4;
}

.bg-neutral-900 {
  background-color: #171717;
}

.bg-white {
  background-color: #ffffff;
}