/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* Utility Classes */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-4 {
  top: 1rem;
}

.top-20 {
  top: 5rem;
}

.top-40 {
  top: 10rem;
}

.left-4 {
  left: 1rem;
}

.left-32 {
  left: 8rem;
}

.right-48 {
  right: 12rem;
}

.isolate {
  isolation: isolate;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-16 {
  height: 4rem;
}

.h-48 {
  height: 12rem;
}

.h-\[calc\(100\%-8rem\)\] {
  height: calc(100% - 8rem);
}

.h-full {
  height: 100%;
}

.h-svh {
  height: 100svh;
}

.w-1\/2 {
  width: 50%;
}

.w-3\/4 {
  width: 75%;
}

.w-24 {
  width: 6rem;
}

.w-32 {
  width: 8rem;
}

.w-72 {
  width: 18rem;
}

.w-full {
  width: 100%;
}

.max-w-xl {
  max-width: 36rem;
}

.size-8 {
  width: 2rem;
  height: 2rem;
}

.size-10 {
  width: 2.5rem;
  height: 2.5rem;
}

.shrink-0 {
  flex-shrink: 0;
}

.p-1 {
  padding: 0.25rem;
}

.p-4 {
  padding: 1rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.rounded-sm {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-full {
  border-radius: 9999px;
}

.border-b {
  border-bottom: 1px solid;
}

.border-neutral-200 {
  border-color: #e5e5e5;
}

.bg-neutral-100 {
  background-color: #f5f5f5;
}

.bg-neutral-200 {
  background-color: #e5e5e5;
}

.bg-neutral-300 {
  background-color: #d4d4d4;
}

.bg-neutral-900 {
  background-color: #171717;
}

.bg-white {
  background-color: #ffffff;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}